
body{
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}
#container{
    width: 1500px;
    background-color: rgb(255, 250, 250);
    margin: auto;
}
.main{
    width: 1500px;
    height: 500px;
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main h1{
    text-align: center; 
    padding-top: 100px;
    margin-top: 0px;
    font-size: 40px;
    color: whitesmoke;
}
.main p{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(211, 205, 205);
}
.anchor-button{
    text-decoration: none;
    padding: 15px 25px;
    margin-left:700px;
    background-image: linear-gradient(6.5deg, orange 5.5%, red 125%);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
/*dinat today part*/
.donate-part{
    width: 1500px;
    height: 700px;
}
.donate-today{
    width: 750px;
    height: 200px;
    margin-left: 375px;
}
.donate-today h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top:40px ;
}
.donate-today p{
    text-align: center;
    color: dimgray;
}
.flex-container{
    width: 1500px;
    height: 300px;
}
.flex-area{
    width: 750px;
    height: 100px;
    margin-left: 375px;
    display: flex;
}
.flex-taka{
    width:100px ;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(240, 248, 248);
    margin-right: 25px; 
}
.flex-taka h3{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}
#flex-left{
    margin-left: 73px;
}
#flex-border{
    border: 2px solid red;
    background-color: pink;
    color: red;
}
.input{
    border: none;
    border-bottom: 1px solid lightgray;
    width: 750px;
    margin: 50px 375px;
    font-size: 15px;
    text-align: center;
   
}
/* our donate plan*/
.flex-articla{
    width: 1500px;
    height: 350px;
    float: left;
    display: flex;
    
}
.artical-food{
    width: 400px;
    height: 300px;
    margin-left: 125px;
    padding-left: 20px;
    border-radius: 7px;
    background-color: rgb(193, 223, 233);
}
.artical-image{
    padding-top: 50px;
}
.artical-family{
    width: 400px;
    height: 300px;
    margin-left: 25px;
    padding-left: 20px;
    border-radius: 7px;
    background-color: rgb(243, 213, 218);
}
.artical-education{
    width: 400px;
    height: 300px;
    margin-left: 25px;
    padding-left: 20px;
    border-radius: 7px;
    background-color:rgb(235, 218, 218);
}
.flexbox-donation{
    width: 1500px;
    height: 500px;
    display: flex;
    background-color: rgb(217, 224, 224);
}
.flexbox-donation #flax-shadow{
    box-shadow: 5px 7px 45px gray;
    border-radius: 7px;
    margin-top: 50px;
}
.flexbox-artical1{
    width: 400px;
    height: 400px;
    margin-left: 325px;
    padding-left: 10px;
    background-color:white;
}
.flexbox-artical1 h1{
    text-align: center;
    padding-top: 50px;
}
.flexbox-artical1 p{
    text-align: center;
    padding-bottom: 20px;
}
.anchor-read{
    text-decoration: none;
    font-weight: bold;
}
.anchor-button1{
    text-decoration: none;
    padding: 15px 25px;
    margin-left:100px;
    background-image: linear-gradient(6.5deg, orange 5.5%, red 125%);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.flexbox-articla2{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    background-color:white;
}
.flexbox-image{
    width: 400px;
    height: 250px;
    background-image: url("images/children.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.flexbox-articla2 p{
    text-align: center;
    padding-left: 10px;
    margin-top: 40px;
}

.artical{
    width:1500px;
    height: 500px;
}
form{
    width: 800px ;
    height: 200px;
    background-color:rgb(252, 226, 230);
    margin-left: 350px;
    border-radius: 7px;
}
.form-input{
    width: 280px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(185, 212, 212);
    margin-top: 75px;
    margin-left: 175px;
    float: left;
}
button{
    width: 170px ;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-top: 75px;
    background-color:rgb(236, 56, 56);
    float: left;
}
footer{
    width: 1500px;
    height: 200px;
    background-color: black;
}
footer h1{
    text-align: center;
    font-size: 40px;
    color: indianred;
    padding-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
footer p{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}