
body{
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}
#container{
    width: 1500px;
    height: 2500px;
    background-color: rgb(253, 246, 246);
}
.main{
    width: 1500px;
    height: 500px;
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main h1{
    text-align: center; 
    padding-top: 100px;
    margin-top: 0px;
    font-size: 40px;
    color: whitesmoke;
}
.main p{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(211, 205, 205);
}
.anchor-button{
    text-decoration: none;
    padding: 15px 25px;
    margin-left:700px;
    background-image: linear-gradient(6.5deg, orange 5.5%, red 125%);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
/*dinat today part*/
.donate-part{
    width: 1500px;
    height: 700px;
}
.donate-today{
    width: 750px;
    height: 200px;
    margin-left: 375px;
}
.donate-today h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top:40px ;
}
.donate-today p{
    text-align: center;
    color: dimgray;
}
.flex-container{
    width: 1500px;
    height: 300px;
}
.flex-area{
    width: 750px;
    height: 100px;
    margin-left: 375px;
    display: flex;
}
.flex-taka{
    width:100px ;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(240, 248, 248);
    margin-right: 25px; 
}
.flex-taka h3{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}
#flex-left{
    margin-left: 73px;
}
#flex-border{
    border: 2px solid red;
    background-color: pink;
    color: red;
}
.input{
    border: none;
    border-bottom: 1px solid lightgray;
    width: 750px;
    margin: 50px 375px;
    font-size: 15px;
    text-align: center;
   
}
/* our donate plan*/
.flex-articla{
    width: 1500px;
    height: 350px;
    float: left;
    display: flex;
    
}
.artical-food{
    width: 400px;
    height: 300px;
    margin-left: 125px;
    padding-left: 20px;
    border-radius: 7px;
    background-color: rgb(193, 223, 233);
}
.artical-image{
    padding-top: 50px;
}
.artical-family{
    width: 400px;
    height: 300px;
    margin-left: 25px;
    padding-left: 20px;
    border-radius: 7px;
    background-color: rgb(243, 213, 218);
}
.artical-education{
    width: 400px;
    height: 300px;
    margin-left: 25px;
    padding-left: 20px;
    border-radius: 7px;
    background-color:rgb(235, 218, 218);
}
.flexbox-donation{
    width: 1500px;
    height: 400px;
    display: flex;
    background-color: rgb(217, 224, 224);
}
.flexbox-donation #flax-shadow{
    box-shadow: 5px 7px 45px gray;
    border-radius: 5px;
    margin-top: 25px;
}
.flexbox-artical1{
    width: 400px;
    height: 350px;
    margin-left: 125px;
    background-color:white;
}
.donate-head{
    width: 400px;
    height: 80px;
    background-color:gray ;
}
.donate-head h1{
    margin: 0;
    text-align: center;
    padding-top: 25px;
}
#flax-shadow h4{
    padding-left: 20px;
    color: dimgray;
}
#flax-shadow p{
    line-height: 200%;
    margin-top: 35px;
    padding-left: 20px;
}
.flexbox-articla2{
    width: 400px;
    height: 350px;
    margin-left: 25px;
    background-color:white;
}
.flexbox-articla3{
    width: 400px;
    height: 350px;
    margin-left: 25px;
    background-color:white; 
}
.artical{
    width:1500px;
    height: 500px;
}